@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,800;1,400&display=swap');
@import 'tailwindcss';

.font-ibm-plex-arabic {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 600;
}

.font-zain-title {
  font-family: 'Zain', sans-serif;
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Sans Math:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/NotoSansMath-Regular_1') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Symbols2:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/NotoSansSymbols2-Regular_5') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Symbols:Black';
  font-style: normal;
  font-weight: 900;
  src: url('https://static.figma.com/font/NotoSansSymbols-VF_2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans:Black';
  font-style: normal;
  font-weight: 900;
  src: url('https://static.figma.com/font/NotoSans-VF_3') format('woff2');
}

html {
  direction: rtl;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  scroll-behavior: smooth;
}
